<%- include ('partials/header'); %> <!--  Inclusion de Header-->

<div class="ui main text container">
	<div class="ui huge header">Congo Numérique Blog App</div>
	<div class="ui attached segment">
		<div class="ui divided items">
			<% blogs.forEach(function(blog){%>
				<div class="item">
          <div class="image">
            <img src=" <%= blog.image %> " >
          </div>
          <div class="content">
            <a class="header" href="/<%= blog._id %>"> <%= blog.title %> </a>
            <div class="meta">
              <span> <%= blog.created.toDateString() %> </span>
            </div>
            <div class="description">
              <p> <%- blog.body.substring(0, 100) %> ... </p> 
            </div>
            <div class="extra">
              <a class="ui floated basic blue button" href="blogs/<%= blog._id %>">
                Lire plus
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
				
				</div>
			<% }) %>
		</div>
	</div>
</div>

<%- include ('partials/footer'); %> <!--  Inclusion du Footer -->