<%- include ('partials/header'); %> <!--  Inclusion de Header-->

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %> </div>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image" src=" <%= blog.image %> " >
      <div class="content">
        <span>Date de publication : <%= blog.created.toDateString() %> </span>
      </div>
      <div class="description">
        <p> <%- blog.body %> </p>
      </div>
    </div>
  </div>
</div>

<%- include ('partials/footer'); %> <!--  Inclusion de Header-->